<div class="code-container">
  <div class="code-header">
    <span>574B - Bear and Three Musketeers</span>
  </div>
  <div class="code-content">
    <div class="code-text">
      <!-- {{#eg-code-highlight-container language='ruby'}}
        puts "puts works"
        puts " with line breaks."

        print "print works"
        print " with no line breaks."

        printf("\n\nprintf formats numbers like %7.2f, and
        strings like %s.",3.14156,"me")
      {{/eg-code-highlight-container}} -->
    </div>
    <div class="code-meta">
      Accepted | MS C++
    </div>
  </div>
</div>
{{yield}}
