.code-container{
  padding: 10px;
}
.code-header{
  height: 40px;
}
.code-content{
  padding: 20px;
  position: relative;
}
.code-text{
  padding: 15px;
  border: 1px solid black;
}
.code-meta{
  position: absolute;
  top: 0;
  right: 20px;
}
