<!-- {{#each pagedContent as |submission|}}
hi
{{submission.language}}
{{/each}}
{{page-numbers content=pagedContent}}
{{outlet}} -->
<div class="row">
  <div class="col-md-8">
    {{code-highlighter}}
  </div>
  <div class="col-md-4">
  </div>
</div>
